config user ldap
    edit "LDAP2"
        set server "<LDAP server IP>"
        set cnid "sAMAccountName"
        set dn "dc=homelab,dc=local"
        set type regular
        set username "<your username here>"
        set password ENC <your password here>
        set group-search-base "dc=homelab,dc=local"
        set account-key-processing strip
        set account-key-filter "(&(sAMAccountName=%s)(!(UserAccountControl:1.2.840.113556.1.4.803:=2)))"
    next
end
